<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css样式重置/reset.css">
    <style>
        /* 238 * 588 */
        /* 237 * 189 */
        .list_one{
            /* 设置ul的宽度 */
            width: 190px;
            /* 设置ul的高度 */
            height: 470px;
            /* 裁剪溢出的内容 */
            overflow: hidden;
            margin: 50px auto;
            background-color: #F4F4F4;
        }
        .list_one li:not(last-child){
            /* 14 */
            margin-bottom: 9px;
        }
        .list_one img{
            width: 100%;
        }
    </style>
</head>
<body>
    <ul class="list_one">
        <li>
            <img src="./photos/01_one.jpg.webp" alt="01">
        </li>
        <li>
            <img src="./photos/01_two.jpg.webp" alt="02">
        </li>
        <li>
            <img src="./photos/01_three.jpg.webp" alt="03">
        </li>
    </ul>
</body>
</html>